@import '~bulma';

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Code+Pro:wght@200&display=swap');
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
}
